.DS_Store
/home/.config/karabiner/automatic_backups
.env
/node_modules
/home/.config/zed/prompts
/home/.config/gh/hosts.yml
/home/.config/opencode/service.json
/home/.pi/agent/mcp-cache.json
/home/.config/jj/repos/
/.jj/
