*.log
plugins.json
plugins/*
!plugins/local/
plugins/local/*
!plugins/local/agent-chooser/
!plugins/local/agent-chooser/**
!plugins/local/url-chooser/
!plugins/local/url-chooser/**
!plugins/local/new-tab-cwd/
!plugins/local/new-tab-cwd/**
session-history.json
session.json
release-notes.json
